<RadSideDrawer [drawerTransition]="sideDrawerTransition">
    <GridLayout tkDrawerContent rows="auto, *" class="sidedrawer sidedrawer-left">
        <StackLayout row="0" class="sidedrawer-header">
            <Image horizontalAlignment="center" class="sidedrawer-avatar" [src]="userPhotoUrl"></Image>
            <Label class="sidedrawer-header-text var" [text]="userDisplayName"></Label>
            <Label class="sidedrawer-header-footnote var" [text]="userEmail"></Label>
        </StackLayout>
    
        <ScrollView row="1" >
            <StackLayout class="sidedrawer-content">
                <GridLayout *ngIf="role==='Teacher'" columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/home')" (tap)="onNavItemTap('/home')">
                    <Label col="0" text="&#xf029;" class="fas sidedrawer-icon"></Label>
                    <Label col="1" text="Scan" class="sidedrawer-item"></Label>
                </GridLayout>

                <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/location')" (tap)="onNavItemTap('/location')">
                    <Label col="0" text="&#xf3c5;" class="fas sidedrawer-icon"></Label>
                    <Label col="1" text="Location" class="sidedrawer-item"></Label>
                </GridLayout>

                <GridLayout *ngIf="role==='Teacher'" columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/records')" (tap)="onNavItemTap('/records')">
                    <Label col="0" text="&#xf15c;" class="fas sidedrawer-icon"></Label>
                    <Label col="1" text="Records" class="sidedrawer-item"></Label>
                </GridLayout>

                <StackLayout class="hr-light"></StackLayout>

                <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/logout')" (tap)="onLogoutTap()">
                    <Label col="0" text="&#xf2f5;" class="fas sidedrawer-icon"></Label>
                    <Label col="1" text="Log out" class="sidedrawer-item"></Label>
                </GridLayout>
            </StackLayout>
        </ScrollView>
    </GridLayout>

    <page-router-outlet tkMainContent class="page page-content"></page-router-outlet>
</RadSideDrawer>
