<ActionBar title="Manage Users" class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Manage Users"></Label>
</ActionBar>

<StackLayout>
    <GridLayout rows="auto, auto, auto, auto, auto" columns="auto">
        <Label row="0" col="0" text="" textWrap="true"></Label>
        <TextField row="1" col="0" hint="Enter Email Address" [text]="email" keyboardType="email" autocorrect="false" autocapitalizationType="none" #newUser ></TextField>
        <Label row="2" col="0" text="Role" ></Label>
        <Label row="3" col="0" [text]="role"  editable="false" (tap)="onRoleTap()" ></Label>
        <button row="4" col="0" text="Add User" (tap)="addUser(newUser.text)"></button>  
        <!-- <StackLayout row="5" col="0">
            <ListView [items]="users">
                <ng-template let-item="user" let-odd="odd" let-even="even">
                  <GridLayout rows="auto" columns="2*,*">
                    <Label [text]="user.email"></Label>
                    <Label [text]="user.role" textWrap="true"></Label>
                  </GridLayout>
                </ng-template>
            </ListView>
        </StackLayout> -->
    </GridLayout>
</StackLayout>

