<ActionBar title="Where's My Tutor" class="action-bar">
    <ActionItem (tap)="logout()" ios.position="right">
        <Button [isEnabled]="!processing" class="" text="logout" class="action-item" (tap)="logout()"></Button>
    </ActionItem>
</ActionBar>

<ScrollView>
    <StackLayout>
        <GridLayout rows="40, auto" columns="100, *" (tap)="onScan()" class="home-card" >
            <Label row="0" col="0" rowSpan="2" text="&#xf029;" class="fas home-icon" style="padding: 2 0 0 4;" ></Label>
            <!--<Label row="0" col="1" rowSpan="2" text="" textWrap="true" class="line" ></Label>-->
            <Label text="Scan QR Code" row="0" col="2" class="card-header" ></Label>
            <Label text="Scan QR Code to update your location." row="1" col="3" textwrap="true" class="card-detail" ></Label>
        </GridLayout>
        <GridLayout rows="40, *" columns="100, *" (tap)="onLocationTap()" class="home-card" >
            <Label row="0" col="0" rowSpan="2" text="&#xf3c5;" class="fas home-icon" style="padding: 5 5 5 5;" ></Label>
            <!--<Label row="0" col="1" rowSpan="2" text="" textWrap="true" class="line" ></Label>-->
            <Label text="Locations" row="0" col="2" class="card-header" ></Label>
            <Label text="Display where the teachers are." row="1" col="3" textwrap="true" class="card-detail" ></Label>
        </GridLayout>
    </StackLayout>
</ScrollView>