<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Home"></Label>
</ActionBar>

<ScrollView>
    <StackLayout>
        <GridLayout rows="40, auto" columns="100, *" (tap)="onScan()" class="home-card" >
            <Label row="0" col="0" rowSpan="2" text="&#xf029;" class="fas home-icon" style="padding: 2 0 0 4;" ></Label>
            <!--<Label row="0" col="1" rowSpan="2" text="" textWrap="true" class="line" ></Label>-->
            <Label text="Scan QR Code" row="0" col="2" class="card-header" ></Label>
            <Label text="Scan QR Code to update your location." row="1" col="3" textwrap="true" class="card-detail" ></Label>
        </GridLayout>
        <GridLayout rows="40, *" columns="100, *" (tap)="onLocationTap()" class="home-card" >
            <Label row="0" col="0" rowSpan="2" text="&#xf3c5;" class="fas home-icon" style="padding: 5 5 5 5;" ></Label>
            <!--<Label row="0" col="1" rowSpan="2" text="" textWrap="true" class="line" ></Label>-->
            <Label text="Locations" row="0" col="2" class="card-header" ></Label>
            <Label text="Display where the teachers are." row="1" col="3" textwrap="true" class="card-detail" ></Label>
        </GridLayout>
    </StackLayout>
</ScrollView>